<!DOCTYPE html>
<html style="font-size: 16px">
  <head>

    <link rel="stylesheet" href="../listing.css" media="screen" />

  </head>
    <body>

      <ul>
        <li><img href="../images/voro-white-bg.png"></img></li>
        <li><a href="/">Home</a></li>
        <li><a href="/listings">News</a></li>
        <li><a href="/contactus">Contact</a></li>
        <li><a href="/about">About</a></li>
      
        
      </ul>

    </body>
    </html>