<!DOCTYPE html>
<html>
  <head>
    <title>Example Login Form</title>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <h1>Success Bro, you created a new invite code. Good work man.</h1>
    <h2>Created invite code <%= code %></h2>
  </body>
</html>
