<!DOCTYPE html>
<html>
  <head>
    <title>Example Login Form</title>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <h1>Success Bro, you logged out man.</h1>
    <h2>User <%= da_user %> is now logged out</h2>
  </body>
</html>
