<!DOCTYPE html>
<>
  <head>
    <title>Success</title>
  </head>
  <body>
    <h1>Success Bro, you did it man. Good work man.</h1>
    <h2>Created user <%= da_user %></h2>
    <h3>Go to login: <a href='/login'> Login</a></h3>
  </body>
</html>
