<!DOCTYPE html>
<html>
  <head>
    <title>Example Login Form</title>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>
    <h1>Success Bro, you did it man. Good work man.</h1>
    <h2>Created user <%= da_user %></h2>
  </body>
</html>
