<!DOCTYPE html>
<html>
  <head>
    <title>Could not create the listing</title>
  </head>

  <body class="container">
    <h1>Could not create the listing! Did you forget to include any info?</h1>
    <h2>If you keep seeing this then oh no panic</h2>
    <h3> Just kidding just call me dude lol</h3>
  </body>
</html>
