
<!DOCTYPE html>
<html>
  <head>
    <title>Successfully created a new listing</title>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h1>Success, Natalie. Good for you.</h1>
    <h2>Created listing <%= listing %></h2>
    <h3>Back to listings page: <a></a></h3>


  </body>
</html>
