
<!DOCTYPE html>
<html>
  <head>
    <title>Successfully created a new listing</title>
  </head>

  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h1>Success Bro, you did it man. Good work man.</h1>
    <h2>Created listing <%= listing %></h2>

    <h2> Saved Image stored at: <%=image[0] %></h2>
    <h2> Saved Image stored at: <%=image[1] %></h2>
  </body>
</html>
