.u-section-1 {
  background-image: url("images/2503e1bcf58dde38696c504d4db9350f8ed671517c666dd1ae41e20eca3fe4e3b94257bc133e0ee5d74ef20fda11bb35ea327ec421761292038e65_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 361px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
  margin: 134px 538px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 338px;
    width: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 399px auto 42px 83px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2414px;
}

.u-section-3 .u-list-1 {
  width: 1200px;
  margin: 63px auto 0 -64px;
}

.u-section-3 .u-repeater-1 {
  min-height: 795px;
  grid-gap: 59px 59px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 293px;
  height: 304px;
  margin: 0 auto 0 37px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -241px auto 0 379px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 379px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 379px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0 379px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -124px 385px 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0 657px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0 657px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -62px auto 0 876px;
  padding: 16px 60px 17px 59px;
}

.u-section-3 .u-text-8 {
  margin: -166px auto 0 876px;
}

.u-section-3 .u-text-9 {
  margin: 20px auto 0 876px;
}

.u-section-3 .u-text-10 {
  margin: -82px auto 0 530px;
}

.u-section-3 .u-text-11 {
  margin: 20px auto 0 530px;
}

.u-section-3 .u-text-12 {
  margin: 20px auto 0 530px;
}

.u-section-3 .u-text-13 {
  margin: 20px auto 0 530px;
}

.u-section-3 .u-text-14 {
  margin: -124px 334px 0 auto;
}

.u-section-3 .u-text-15 {
  margin: 20px 334px 0 auto;
}

.u-section-3 .u-text-16 {
  margin-right: 334px;
  margin-left: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-2 {
  width: 293px;
  height: 304px;
  margin: 0 auto 0 37px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  margin: -241px auto 0 379px;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  margin: 20px auto 0 379px;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  margin: 20px auto 0 379px;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  margin: 20px auto 0 379px;
}

.u-section-3 .u-text-21 {
  font-weight: 700;
  margin: -124px 385px 0 auto;
}

.u-section-3 .u-text-22 {
  font-weight: 700;
  margin: 20px auto 0 657px;
}

.u-section-3 .u-text-23 {
  font-weight: 700;
  margin: 20px auto 0 657px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -62px auto 0 876px;
  padding: 16px 60px 17px 59px;
}

.u-section-3 .u-text-24 {
  margin: -166px auto 0 876px;
}

.u-section-3 .u-text-25 {
  margin: 20px auto 0 876px;
}

.u-section-3 .u-text-26 {
  margin: -82px auto 0 530px;
}

.u-section-3 .u-text-27 {
  margin: 20px auto 0 530px;
}

.u-section-3 .u-text-28 {
  margin: 20px auto 0 530px;
}

.u-section-3 .u-text-29 {
  margin: 20px auto 0 530px;
}

.u-section-3 .u-text-30 {
  margin: -124px 334px 0 auto;
}

.u-section-3 .u-text-31 {
  margin: 20px 334px 0 auto;
}

.u-section-3 .u-text-32 {
  margin-right: 334px;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -242px;
    margin-left: 292px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 297px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 507px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 616px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 676px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 676px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -242px;
    margin-left: 292px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 292px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 297px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-23 {
    margin-left: 507px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 616px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 676px;
  }

  .u-section-3 .u-text-25 {
    margin-left: 676px;
  }

  .u-section-3 .u-text-26 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-27 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 258px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 223px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 380px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 380px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 396px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 194px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 194px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 194px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 223px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 380px;
  }

  .u-section-3 .u-text-23 {
    margin-left: 380px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 396px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-25 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-26 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-27 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 307px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 194px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 194px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 176px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 299px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 299px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 256px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 399px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 399px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 153px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 153px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 153px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 176px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 299px;
  }

  .u-section-3 .u-text-23 {
    margin-left: 299px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 256px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 399px;
  }

  .u-section-3 .u-text-25 {
    margin-left: 399px;
  }

  .u-section-3 .u-text-26 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-27 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 242px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 153px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 153px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 108px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 184px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 184px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 56px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 246px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 246px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-14 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 94px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 27px;
  }

  .u-section-3 .u-text-17 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-20 {
    margin-left: 106px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 108px;
  }

  .u-section-3 .u-text-22 {
    margin-left: 184px;
  }

  .u-section-3 .u-text-23 {
    margin-left: 184px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 56px;
  }

  .u-section-3 .u-text-24 {
    margin-left: 246px;
  }

  .u-section-3 .u-text-25 {
    margin-left: 246px;
  }

  .u-section-3 .u-text-26 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-27 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-28 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-29 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-30 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-31 {
    margin-right: 94px;
  }

  .u-section-3 .u-text-32 {
    margin-right: 94px;
  }
}