.u-section-1 {
  background-image: url("images/2503e1bcf58dde38696c504d4db9350f8ed671517c666dd1ae41e20eca3fe4e3b94257bc133e0ee5d74ef20fda11bb35ea327ec421761292038e65_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 361px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  background-image: none;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
  margin: 134px 538px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 338px;
    width: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 118px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 108px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 170px;
}

.u-section-2 .u-text-1 {
  margin: 20px 216px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 {
  min-height: 856px;
}

.u-section-3 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1204px);
  margin: 10px 0 0 auto;
}

.u-section-3 .u-repeater-1 {
  min-height: 819px;
  grid-gap: 59px 59px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 293px;
  height: 304px;
  margin: 0 auto 0 37px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -241px 432px 0 379px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 32px 671px 0 379px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 17px 671px 0 379px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 22px 671px 0 379px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: -101px 407px 0 643px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 17px 407px 0 643px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 22px 407px 0 643px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -27px 137px 0 auto;
  padding: 16px 60px 17px 59px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: -153px 27px 0 853px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 113px 671px 0 379px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: -21px 407px 0 643px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-image-2 {
  width: 293px;
  height: 304px;
  margin: 0 auto 0 37px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: -241px 432px 0 379px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 32px 671px 0 379px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 17px 671px 0 379px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 22px 671px 0 379px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  margin: -101px 407px 0 643px;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  margin: 17px 407px 0 643px;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  margin: 22px 407px 0 643px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -27px 137px 0 auto;
  padding: 16px 60px 17px 59px;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  margin: -153px 27px 0 853px;
}

.u-section-3 .u-text-19 {
  font-weight: 700;
  margin: 113px 671px 0 379px;
}

.u-section-3 .u-text-20 {
  font-weight: 700;
  margin: -21px 407px 0 643px;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-top: -440px;
  margin-bottom: 60px;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 882px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 63px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-2 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-4 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 213px;
    margin-left: 493px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 221px;
    margin-left: 485px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 221px;
    margin-left: 485px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: 221px;
    margin-left: 485px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 539px;
    margin-left: 247px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 275px;
    margin-left: 511px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-12 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-13 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-14 {
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 297px;
    margin-left: 493px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 221px;
    margin-left: 507px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 221px;
    margin-left: 507px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: 221px;
    margin-left: 485px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 539px;
    margin-left: 247px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 275px;
    margin-left: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1362px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-5 {
    margin-right: 103px;
    margin-left: 383px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 111px;
    margin-left: 375px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 111px;
    margin-left: 375px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 111px;
    margin-left: 375px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 316px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 429px;
    margin-left: 137px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 165px;
    margin-left: 401px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 219px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 223px;
    margin-left: 383px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 111px;
    margin-left: 380px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 111px;
    margin-left: 380px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 111px;
    margin-left: 375px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 507px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 429px;
    margin-left: 137px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 165px;
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1446px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 33px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 41px;
    margin-left: 305px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 41px;
    margin-left: 305px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 41px;
    margin-left: 305px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 176px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 359px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 95px;
    margin-left: 331px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-14 {
    margin-left: 173px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 176px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 41px;
    margin-left: 299px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 41px;
    margin-left: 299px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 41px;
    margin-left: 305px;
  }

  .u-section-3 .u-text-18 {
    margin-left: 399px;
  }

  .u-section-3 .u-text-19 {
    margin-right: 359px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-20 {
    margin-right: 95px;
    margin-left: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1586px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1605px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 9px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 12px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 37px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
    width: 183px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    font-weight: normal;
    width: auto;
    margin-top: 117px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -162px;
    margin-right: 83px;
    margin-left: 73px;
    font-weight: normal;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 83px;
    margin-left: 73px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-right: 92px;
    margin-left: 72px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 210px;
    margin-right: auto;
    margin-left: 65px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -114px;
    margin-right: 24px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -60px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: -54px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 9px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 12px;
    margin-right: 24px;
    margin-left: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-right: 37px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-12 {
    font-weight: normal;
    width: 183px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-3 .u-text-13 {
    font-weight: normal;
    width: auto;
    margin-top: 117px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 16px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: -162px;
    margin-right: 83px;
    margin-left: 73px;
    font-weight: normal;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-top: 13px;
    margin-right: 83px;
    margin-left: 73px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-top: 13px;
    margin-right: 92px;
    margin-left: 72px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 210px;
    margin-right: auto;
    margin-left: 65px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: -114px;
    margin-right: 24px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: -60px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-text-20 {
    width: auto;
    margin-top: -54px;
    margin-right: 84px;
    margin-left: 74px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -821px;
  }
}

.u-footer{
  position: relative;
  margin-top: 180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  overflow-y: visible;
  height: 100%;
}

.listing_text{
  color: #d02c30 !important;
}

.header-color{
  background-color: black !important;
}

.color-white{
  color: white !important;
}
.color-white:hover{
  color: #d02c30 !important;
}

.bg-voro{
  background-image: url("images/Black_texture.png");
}

.new_pad{
  /* padding-left: 34px ;
  padding-right: 34px ;
  font-family: Montserrat, sans-serif; */
}