<!DOCTYPE html>
<html>
  <head>
	<title>Example user listing</title>
  </head>
  <body>
	<h1> Users in system so far</h1>
         

    <% for (var i = 0; i < UserString.length; i++) { %>

        <br/> <h1> <%= UserString[i].email %> </h1>
        <% } %>
	
  </body>
</html>